header {
  background-color: #7245E5;
}
header .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .head .head-logo {
  width: 200px;
  height: 100px;
}
header .head nav ul {
  display: flex;
  gap: 20px;
}
header .head nav ul li {
  list-style: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
header .head nav ul li a {
  text-decoration: none;
  color: white;
}

main .about-head h1 {
  font-weight: bold;
  font-size: 45px;
  margin-top: 50px;
}
main #section-one .image-description {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 50px;
}
main #section-one .image-description .description p {
  background-color: #4473de;
  color: white;
  width: 180px;
  text-align: center;
  border-radius: 10px;
  font-weight: 500;
}
main #section-one .image-description .description h1 {
  font-weight: bold;
}
main #section-one .image-description .description h6 {
  width: 595px;
  margin-top: 50px;
}
main #section-two .year-desc {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
  padding-left: 80px;
  text-align: center;
}
main #section-two .year-desc h1 {
  font-weight: bold;
}
main #section-two .year-desc p {
  width: 723px;
  font-weight: 500;
  color: #676565;
}
main #section-three {
  margin-top: 100px;
}
main #section-three .number-image {
  width: 300px;
  height: 200px;
  display: flex;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 55px 43px;
}
main #section-three .number-image .number h1 {
  font-weight: bold;
}
main #section-three .number-image .number p {
  font-weight: 500;
  color: #676565;
  font-size: 20px;
}
main #section-three .number-image .image {
  width: 100px;
}
footer {
  margin-top: 150px;
  background-color: black;
  height: 450px;
}
footer .icon-phone {
  display: flex;
  margin-left: 10px;
  margin-top: 15px;
}
footer .icon-phone .iconPhone {
  margin-top: 10px;
}
footer .icon-phone .iconPhone i {
  color: red;
  font-size: 22px;
}
footer .icon-phone .phoneNumber {
  margin-left: 5px;
}
footer .icon-phone .phoneNumber a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
  font-size: 22px;
  font-weight: 600;
}
footer .icon-phone .phoneNumber a:hover {
  color: #7a3ce6;
}
footer .icon-mail {
  display: flex;
  margin-left: 10px;
  margin-top: 15px;
}
footer .icon-mail .iconMail {
  margin-top: 5px;
}
footer .icon-mail .iconMail i {
  color: red;
  font-size: 22px;
}
footer .icon-mail .mailAddress {
  margin-left: 10px;
}
footer .icon-mail .mailAddress a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-weight: 600;
}
footer .icon-mail .mailAddress a:hover {
  color: #7a3ce6;
}
footer .faydali {
  color: white;
  margin-top: 35px;
}
footer .line {
  background-color: #4473de;
  height: 3px;
  width: 30px;
  margin-top: 15px;
}
footer ul {
  margin-left: -32px;
  margin-top: 30px;
}
footer ul li {
  list-style: none;
  margin-top: 15px;
}
footer ul li a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
  font-weight: 600;
}
footer ul li a:hover {
  color: #7a3ce6;
}
footer .wrestling {
  color: white;
  margin-top: 35px;
}
footer .line {
  background-color: #4473de;
  height: 3px;
  width: 30px;
  margin-top: 15px;
}
footer ul {
  margin-left: -32px;
  margin-top: 30px;
}
footer ul li {
  list-style: none;
  margin-top: 15px;
}
footer ul li a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
  font-weight: 600;
}
footer ul li a:hover {
  color: #7a3ce6;
}
footer .follow {
  color: white;
  margin-top: 35px;
}
footer .line {
  background-color: #4473de;
  height: 3px;
  width: 30px;
  margin-top: 15px;
}
footer form input {
  background-color: black;
  border: none;
  border: 1px solid #3D3D3D;
  width: 100%;
  height: 46px;
  border-radius: 50px;
  padding-left: 10px;
  margin-top: 25px;
}
footer .soci-icon {
  display: flex;
}
footer .soci-icon li {
  margin-right: 20px;
}
footer .soci-icon li a i {
  width: 30px;
  height: 30px;
  background-color: #262626;
  border-radius: 50%;
  padding-left: 10px;
  padding-top: 7px;
}/*# sourceMappingURL=about.css.map */